html {
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

.section .content {
    opacity: 0;
    transform: translateX(100px);
    transition: all 0.6s ease-out;
}

.section .content.visible {
    opacity: 1;
    transform: translateX(0);
}

#scrollToTop {
    display: none;
    z-index: 999;
}

.fade-in-section {
    opacity: 0;
    transform: translateX(30px);
    transition: all 0.6s ease-out;
    will-change: opacity, transform;
}

.fade-in-section.is-visible {
    opacity: 1;
    transform: none;
}

.card {
    margin-top: 2rem;
}

.card-text {
    margin-bottom: 2px;
}

h4 {
    margin-bottom: 2rem;
}


.fw-normal {
    line-height: 30px;
}


li, p {
    color: rgb(90, 90, 90);
    font-family: 'FangSong', 'SimSun';
}

#scrollToTop {
    z-index: 2000;
}

.work {
    margin-bottom: 3rem;
}

.btn {
    margin-top: 1rem;
}



body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f6f9;
    color: #343a40;
}

.card-title {
    color: #212529;
    font-weight: 600;
}

.card-subtitle {
    color: #6c757d;
}

.card-text {
    color: #495057;
}

h2 {
    font-weight: 700;
    border-bottom: 1px solid #494949;
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
}

  
